<div class="wrapper">
    <div
        style="background-image: url('./assets/logo.png'); height: 65px;background-size: contain;background-repeat: no-repeat;">
        <ul>
            <li onmouseover="mainLayoutChange('top');">
                <div></div>
            </li>
            <li onmouseover="mainLayoutChange('game');">
                <div><i class="fas fa-gamepad"></i> Game</div>
                <ul>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                </ul>
            </li>
            <li onmouseover="mainLayoutChange('tool');">
                <div><i class="fas fa-toolbox"></i> Tool</div>
                <ul>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                </ul>
            </li>
            <li onmouseover="mainLayoutChange('blog');">
                <div><i class="fas fa-book"></i> Blog</div>
                <ul>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                </ul>
            </li>
            <li onmouseover="mainLayoutChange('info');">
                <div onclick="showLayout('aside');"><i class="fas fa-info-circle"></i> Info</div>
            </li>
        </ul>
    </div>
</div>
<button class="reflesh" onclick="syncLayouts('header');">更新</button>