<div class="wrapper">
    <div style="background-image: url('./assets/logo.png'); height: 65px;background-size: contain;background-repeat: no-repeat;">
        <ul>
            <li>
                <div>Top</div>
            </li>
            <li>
                <div>Game</div>
                <ul>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                </ul>
            </li>
            <li>
                <div>Tool</div>
                <ul>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                </ul>
            </li>
            <li>
                <div>Blog</div>
                <ul>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                    <li>
                        <div class="header-button">コンテンツ</div>
                    </li>
                </ul>
            </li>
            <li>
                <div onclick="showLayout('aside');">Info</div>
            </li>
        </ul>
    </div>
</div>
<button class="reflesh" onclick="syncLayouts('header');">更新</button>