<div class="wrapper">
    <div class="header-offset"></div>
    <div id="top" class="mainPage" style="display: block;"></div>
    <div id="game" class="mainPage" style="background-color: hotpink;">
    </div>
    <div id="tool" class="mainPage" style="background-color: khaki;">
    </div>
    <div id="blog" class="mainPage" style="background-color: lightgreen;">
    </div>
    <div id="info" class="mainPage" style="background-color: lightskyblue;">
    </div>
</div>
<button class="reflesh" onclick="syncLayouts('main');">更新</button>