/* 画面サイズによる変更 */

@media (max-width: 800px) {
    /* 縦レイアウト */
}

@media (min-width: 800px) {
    /* 横レイアウト */
}

/* 汎用設定 */

/* タグセレクタ */

/* クラスセレクタ */

aside .wrapper>div {
    margin: 0;
    padding: 0 2 0 2;
}
aside .wrapper ul {
    overflow: scroll;
    height: 25%;
    padding-top: 5px;
    padding-bottom: 5px;

}
aside .wrapper ul li {
    overflow: hidden;
    width: 100%;
    height: 50px;
}

/* IDセレクタ */
aside #hide-button {
    position: absolute;
    right: 0;
    text-decoration: underline;
    color: blue;
}