/* 画面サイズによる変更 */

@media (max-width: 800px) {
    /* 縦レイアウト */
    :root {
        --base-bg-color: rgb(130, 180, 200);
    }
    aside {
        width: 50%;
        display: none;
    }
}

@media (min-width: 800px) {
    /* 横レイアウト */
    :root {
        --base-bg-color: rgb(130, 180, 200);
    }
    aside {
        width: 25%;
        display: block;
    }
}

/* 汎用設定 */

:root {
    --base-header-height: 60px;
    --base-footer-height: 60px;
}

/* タグセレクタ */

html body {
    margin: 0;
    padding: 0;
    background-color: var(--base-bg-color);
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--base-header-height);
    min-height: 40px;
    text-align: center;
    background-color: var(--base-bg-color);
    transition-property: top;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

main {
    background-color: white;
    height: 100%;
}

aside {
    background-color: azure;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 25;
    height: 100%;
}

footer {
    z-index: 50;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--base-footer-height);
    min-height: 40px;
    text-align: center;
    background-color: var(--base-bg-color);
    transition-property: bottom;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

i {
    font-size: 24px;
}

/* クラスセレクタ */

.reflesh {
    display: none;
}

.header-offset {
    height: var(--base-header-height);
}

/* IDセレクタ */

#lock {
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    background-image: url("../assets/loading.svg");
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
}