/* 画面サイズによる変更 */

@media (max-width: 800px) {
    /* 縦レイアウト */
    footer ul li {
        width: 10%;
        font-size: 0.8em;
    }
}

@media (min-width: 800px) {
    /* 横レイアウト */
    footer ul li {
        width: calc(100% / 8);
    }
}

/* 汎用設定 */

/* タグセレクタ */

footer ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10 0 10 0;
}

footer ul li:first-child {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 10 0 10 0;
    text-align: left;
    width: 30%;
}

/* クラスセレクタ */

footer .wrapper>div {
    width: 100%;
}

/* IDセレクタ */