/* 画面サイズによる変更 */

@media (max-width: 800px) {
    /* 縦レイアウト */
}

@media (min-width: 800px) {
    /* 横レイアウト */
}

/* 汎用設定 */

/* タグセレクタ */

html {
    overflow: hidden !important;
}

main {
    background-image: url('../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

/* クラスセレクタ */

.blur {
    filter: blur(5px);
}

.mainPage {
    height: 100%;
    display: none;
    opacity: 0.1;
}

.mainPage:first-child {
    display: block;
}

/* IDセレクタ */