/* 画面サイズによる変更 */

@media (max-width: 800px) {
    /* 縦レイアウト */
}

@media (min-width: 800px) {
    /* 横レイアウト */
}

/* 汎用設定 */

/* タグセレクタ */
main {
    background-image: url('../assets/logo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 75%;
}
/* クラスセレクタ */

/* IDセレクタ */