<v-container>
  <v-layout wrap justify-space-around>
    <v-flex v-for="object in objects" :key="object.num">
      <v-card min-width="400" max-width="400" class="ma-2">
        <v-card-title>{{ object.title }}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text :href="object.href">
            開く
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>